* {
    box-sizing: border-box;
}

h1, h2, ul {
    background-color: blanchedalmond;
    border: 2px brown solid;
    width: 600px;
}


h1, h2 {
    margin: 50px auto 20px;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

ul {
    margin: auto;
    padding: 30px 50px 30px;
}

li {
    font-size: 18px;
}

img {
    display: block;
    margin: 0 auto;
}

.steps {
    margin-bottom: 50px;
}